@import "defaults";

/*---Margins---*/
.margin {
    @extend .margin-sides;
    @extend .margin-slates;
}
.margin-none {
    margin: 0px;
}
.margin-sides {
    @extend .margin-left;
    @extend .margin-right;
}
.margin-slates {
    @extend .margin-top;
    @extend .margin-bottom;
}
.margin-left {
    margin-left: $unit;
}
.margin-right {
    margin-right: $unit;
}
.margin-top {
    margin-top: $unit;
}
.margin-bottom {
    margin-bottom: $unit;
}

/*---Padding---*/
.padding {
    @extend .padding-sides;
    @extend .padding-slates;
}
.padding-none {
    padding: 0px;
}
.padding-sides {
    @extend .padding-left;
    @extend .padding-right;
}
.padding-slates {
    @extend .padding-top;
    @extend .padding-bottom;
}
.padding-left {
    padding-left: $unit;
}
.padding-right {
    padding-right: $unit;
}
.padding-top {
    padding-top: $unit;
}
.padding-bottom {
    padding-bottom: $unit;
}

/*---Borders---*/
.border {
  @extend .border-sides;
  @extend .border-slates;
}
.border-sides {
  @extend .border-left;
  @extend .border-right;
}
.border-slates {
  @extend .border-top;
  @extend .border-bottom;
}
.border-left {
  border-left: 1px solid $primary-color;
}
.border-right {
  border-right: 1px solid $primary-color;
}
.border-top {
  border-top: 1px solid $primary-color;
}
.border-bottom {
  border-bottom: 1px solid $primary-color;
}

/*---Page Controls---*/
page {
    display: none;
}