@import "layouts";

navbar {
    
    .navbar-brand {
        font-size: $large-font;
        color: $dark-grey;
    }
    .navbar-nav {
        font-size: $small-font;
        a {
            color: $dark-grey;
        }
        a:hover {
            background-color: $dark-grey;
            color: $light-grey;
        }
    }
    
}