@import "layouts";

products {
    
    
    
    section{
        
        
        
        article {
            
            
            
            ul {
                
                list-style: none;
                
                li {
                    background-color: white;
                    box-shadow: 0px 0px $unit;
                    border-radius: $unit;
                }
                
            }
            
        }
        
    }
    
}