@import "layouts";

social {
    footer {
        
        background-color: $quaternary-color;
        color: $quaternary-color;
        
        figure {
            
            img {
                max-height: 30px;
            }
            img:hover {
                background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
        		opacity: .6; 
            }
            figcaption {
                
            }
            
        }
        
    }
}