/*--colors--*/
/*--measurements--*/
/*--fonts--*/
@font-face {
  font-family: Roboto-Regular;
  src: url("/resources/fonts/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: Roboto-Thin;
  src: url("/resources/fonts/Roboto-Thin.ttf") format("truetype"); }
/*---Margins---*/
.margin-none {
  margin: 0px; }

.margin-left, .margin-sides, .margin {
  margin-left: 15px; }

.margin-right, .margin-sides, .margin {
  margin-right: 15px; }

.margin-top, .margin-slates, .margin, content figure, content figure img {
  margin-top: 15px; }

.margin-bottom, .margin-slates, .margin, content figure, content figure img, content figure p, content figure figcaption {
  margin-bottom: 15px; }

/*---Padding---*/
.padding-none {
  padding: 0px; }

.padding-left, .padding-sides, .padding {
  padding-left: 15px; }

.padding-right, .padding-sides, .padding {
  padding-right: 15px; }

.padding-top, .padding-slates, .padding {
  padding-top: 15px; }

.padding-bottom, .padding-slates, .padding {
  padding-bottom: 15px; }

/*---Borders---*/
.border-left, .border-sides, .border {
  border-left: 1px solid #D499B9; }

.border-right, .border-sides, .border {
  border-right: 1px solid #D499B9; }

.border-top, .border-slates, .border, content figure {
  border-top: 1px solid #D499B9; }

.border-bottom, .border-slates, .border, content figure {
  border-bottom: 1px solid #D499B9; }

/*---Page Controls---*/
page {
  display: none; }

content h1, content h2, content h3, content h4, content h5 {
  font-family: roboto-regular;
  color: #2E294E;
  text-decoration: underline; }
content article {
  background-color: white; }
content figure {
  background-color: #FFE6F4; }
  content figure figcaption {
    font-family: roboto-regular;
    color: #011638;
    font-size: 16px; }
content p {
  font-size: 16px;
  color: #2E294E;
  font-family: roboto-regular; }
