/*--colors--*/
/*--measurements--*/
/*--fonts--*/
@font-face {
  font-family: Roboto-Regular;
  src: url("/resources/fonts/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: Roboto-Thin;
  src: url("/resources/fonts/Roboto-Thin.ttf") format("truetype"); }
/*---Margins---*/
.margin-none {
  margin: 0px; }

.margin-left, .margin-sides, .margin {
  margin-left: 15px; }

.margin-right, .margin-sides, .margin {
  margin-right: 15px; }

.margin-top, .margin-slates, .margin {
  margin-top: 15px; }

.margin-bottom, .margin-slates, .margin {
  margin-bottom: 15px; }

/*---Padding---*/
.padding-none {
  padding: 0px; }

.padding-left, .padding-sides, .padding {
  padding-left: 15px; }

.padding-right, .padding-sides, .padding {
  padding-right: 15px; }

.padding-top, .padding-slates, .padding {
  padding-top: 15px; }

.padding-bottom, .padding-slates, .padding {
  padding-bottom: 15px; }

/*---Borders---*/
.border-left, .border-sides, .border {
  border-left: 1px solid #D499B9; }

.border-right, .border-sides, .border {
  border-right: 1px solid #D499B9; }

.border-top, .border-slates, .border {
  border-top: 1px solid #D499B9; }

.border-bottom, .border-slates, .border {
  border-bottom: 1px solid #D499B9; }

/*---Page Controls---*/
page {
  display: none; }

hero article {
  background-color: #2E294E; }
  hero article h1 {
    color: white;
    font-size: 64px;
    text-shadow: 0px 5px 5px black; }
  hero article h3 {
    color: white;
    font-size: 32px;
    text-shadow: 0px 5px 5px black; }
