/*--colors--*/
/*--measurements--*/
/*--fonts--*/
@font-face {
  font-family: HelloGoodbye;
  src: url("/resources/fonts/hellogoodbye.otf") format("opentype");
  font-weight: 900; }
.margin-none {
  margin: 0px; }

.margin-left, .margin-sides, .margin {
  margin-left: 15px; }

.margin-right, .margin-sides, .margin {
  margin-right: 15px; }

.margin-top, .margin-slates, .margin {
  margin-top: 15px; }

.margin-bottom, .margin-slates, .margin {
  margin-bottom: 15px; }

.padding-none {
  padding: 0px; }

.padding-left, .padding-sides, .padding {
  padding-left: 15px; }

.padding-right, .padding-sides, .padding {
  padding-right: 15px; }

.padding-top, .padding-slates, .padding {
  padding-top: 15px; }

.padding-bottom, .padding-slates, .padding {
  padding-bottom: 15px; }

.border, .border-sides, .border-left, .border-right, .border-slates, .border-top, .border-bottom {
  border: 1px solid #f1f1f1; }

.border-sides, .border-left, .border-right {
  border-top: none;
  border-bottom: none; }

.border-slates, .border-top, .border-bottom {
  border-left: none;
  border-right: none; }

.border-left {
  border-right: none; }

.border-right {
  border-left: none; }

.border-top {
  border-bottom: none; }

.border-bottom {
  border-top: none; }

page {
  display: none; }

navbar .navbar {
  background-color: black;
  border-color: black;
  border-radius: 0px;
  box-shadow: 0px 5px 5px;
  z-index: 10; }
  navbar .navbar .navbar-brand {
    font-size: 40px;
    color: #f1f1f1; }
  navbar .navbar .navbar-header {
    font-size: 24px; }
    navbar .navbar .navbar-header a {
      color: #f1f1f1; }
    navbar .navbar .navbar-header a:hover {
      color: rgba(255, 255, 255, 0.35);
      text-shadow: 3px 3px white; }
  navbar .navbar .navbar-nav {
    font-size: 24px; }
    navbar .navbar .navbar-nav a {
      color: #f1f1f1; }
    navbar .navbar .navbar-nav a:hover {
      color: rgba(255, 255, 255, 0.35);
      text-shadow: 3px 3px white; }
    navbar .navbar .navbar-nav .active a {
      background-color: white;
      color: black; }
    navbar .navbar .navbar-nav .active a:hover {
      background-color: white;
      color: rgba(0, 0, 0, 0.35);
      text-shadow: 3px 3px black; }
