/*--colors--*/
/*--measurements--*/
/*--fonts--*/
@font-face {
  font-family: HelloGoodbye;
  src: url("/resources/fonts/hellogoodbye.otf") format("opentype");
  font-weight: 900; }
.margin, .margin-sides, .margin-left, .margin-right, .margin-slates, .margin-top, .margin-bottom {
  margin: 15px; }

.margin-none {
  margin: 0px; }

.margin-sides, .margin-left, .margin-right {
  margin-top: 0px;
  margin-bottom: 0px; }

.margin-slates, .margin-top, .margin-bottom {
  margin-left: 0px;
  margin-right: 0px; }

.margin-left {
  margin-right: 0px; }

.margin-right {
  margin-left: 0px; }

.margin-top {
  margin-bottom: 0px; }

.margin-bottom {
  margin-top: 0px; }

.padding, .padding-sides, .padding-left, .padding-right, .padding-slates, .padding-top, .padding-bottom {
  padding: 15px; }

.padding-none {
  padding: 0px; }

.padding-sides, .padding-left, .padding-right {
  padding-top: 0px;
  padding-bottom: 0px; }

.padding-slates, .padding-top, .padding-bottom {
  padding-left: 0px;
  padding-right: 0px; }

.padding-left {
  padding-right: 0px; }

.padding-right {
  padding-left: 0px; }

.padding-top {
  padding-bottom: 0px; }

.padding-bottom {
  padding-top: 0px; }

.border, .border-sides, .border-left, .border-right, .border-slates, .border-top, .border-bottom {
  border: 1px solid #f1f1f1; }

.border-sides, .border-left, .border-right {
  border-top: none;
  border-bottom: none; }

.border-slates, .border-top, .border-bottom {
  border-left: none;
  border-right: none; }

.border-left {
  border-right: v; }

.border-right {
  border-left: none; }

.border-top {
  border-bottom: none; }

.border-bottom {
  border-top: none; }

page {
  display: none; }

social footer {
  background-color: black;
  color: #f1f1f1; }
  social footer img:hover {
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: .6; }
