<script src="/app/templates/hero/hero.js"></script>
<link href="/app/styles/min/hero.css" rel="stylesheet">
<main data-template="hero" class="padding-none container-fluid">
    <script data-script="hero" type="text/x-handlebars-template">
        <article class="padding">
            <h1 class="text-center">{{title}}</h1>
            <h3 class="text-center">{{subTitle}}</h3>
        </article>
    </script>
</main>